html{
    scroll-behavior: smooth;
}
footer p{
  
      background-color: black;
      color: white;
     
}
h1{
    background-color: black;
    color: white;
}
h2{
    background-color: dimgrey;
    text-align: center;
}
section{
    padding-top: 5%;
}
/*
a{
    text-align: center;
}
*/
